<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--BOOTSTRAP CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title>Acconam</title>
</head>

<body class="bg-white">
  <!--NAVBAR-->
  <nav class="navbar navbar-expand-md shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Acconam</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active " href="/actividades">Actividades</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="/ciudad">Ciudad</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container-xxl">
    <!--SECCION 1 -->
    <section class="d-flex flex-column justify-content-center py-5 align-items-center"
      style="min-height: 70vh;
    background-image: url('https://images.unsplash.com/photo-1569965335962-2317ff2a7658?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=438&q=80'); background-size: 100%;">
      <h1 class="font-weight-light display-1 mb-5">
        Acconam
      </h1>
      <div class="input-group mb-3" style="max-width: 600px;">
        <input type="text" class="form-control" placeholder="Ingresa una ciudad ..." aria-label="Buscar actividad"
          aria-describedby="button-addon1">
        <button class="btn bg-primary btn-outline-secondary w-25 text-white" type="button"
          id="button-addon1">Buscar</button>
      </div>
    </section>
    <!-- SECCION 2 -->
    <section class="d-flex flex-column justify-content-center py-5 align-items-center">
      <h2 class="display-5 mb-5">
        Las más populares
      </h2>
      <div class="container-xxl row justify-content-around">
        <div class="actividad-1 col-12 col-sm-5 col-lg-3 shadow-sm p-0 mb-3 rounded-top">
          <img
            src="https://images.unsplash.com/photo-1549576490-b0b4831ef60a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="recreacion" class="w-100  rounded-top">
          <div class="text p-4">
            <h3>Titulo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <div class="precio d-flex justify-content-between">
              <p class="fw-bold">$5-$10</p>
              <p class="fw-bold">Ciudad</p>
            </div>
          </div>
        </div>
        <div class="actividad-2 col-12 col-sm-5  col-lg-3 shadow-sm p-0 mb-3 rounded-top">
          <img
            src="https://images.unsplash.com/photo-1549576490-b0b4831ef60a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="recreacion" class="w-100 rounded-top">
          <div class="text p-4">
            <h3>Titulo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <div class="precio d-flex justify-content-between">
              <p class="fw-bold">$5-$10</p>
              <p class="fw-bold">Ciudad</p>
            </div>
          </div>
        </div>
        <div class="actividad-3 col-12 col-sm-10 col-lg-3 shadow-sm p-0 mb-3 rounded-top">
          <img
            src="https://images.unsplash.com/photo-1549576490-b0b4831ef60a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="recreacion" class="w-100 rounded-top">
          <div class="text p-4">
            <h3>Titulo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <div class="precio d-flex justify-content-between">
              <p class="fw-bold">$5-$10</p>
              <p class="fw-bold">Ciudad</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SECCION 3 -->
    <section class="d-flex flex-column justify-content-center py-5 align-items-center "
      style="
    background-image: url('https://images.unsplash.com/photo-1571782605941-8c8fd0d43df6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80'); background-size: 100%; min-height: 70vh;">
      <h3 class="display-5 text-center mb-5">Proveemos las mejores actividades pensadas en tu bolsillo</h3>
      <button type="button" class="btn btn-primary px-5">Actividades</button>
    </section>
    <!-- SECCION 4 -->
    <section class=" d-flex py-5 row align-items-center justify-content-center gy-3">
      <img class="col-md-6"
        src="https://images.pexels.com/photos/547116/pexels-photo-547116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="actividad">
      <div class="col-md-4">
        <img class="w-100 mb-3"
          src="https://images.unsplash.com/photo-1521336575822-6da63fb45455?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt="actividad">
        <h3>Aventuras</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, cupiditate odio perferendis consectetur
          officiis
          ipsa rerum quasi ipsam non sit ut illum porro magnam vero libero amet doloribus recusandae. Eveniet?</p>
      </div>
    </section>
    <!--SECCION 5-->
    <section class="d-flex py-5 row align-items-center justify-content-center">
      <h2 class="text-center display-5">Galerías de nuestros clientes</h2>
      <div class="row gy-4">
        <img class="col-sm-3"
          src="https://images.pexels.com/photos/1472887/pexels-photo-1472887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">
        <img class="col-sm-4"
          src="https://images.pexels.com/photos/262524/pexels-photo-262524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">
        <img class="col-sm-5"
          src="https://images.pexels.com/photos/1543756/pexels-photo-1543756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">
        <img class="col-sm-4"
          src="https://images.pexels.com/photos/1174103/pexels-photo-1174103.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">
        <img class="col-sm-5"
          src="https://images.pexels.com/photos/1309584/pexels-photo-1309584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">
        <img class="col-sm-3" src="https://images.pexels.com/photos/2202685/pexels-photo-2202685.jpeg" alt="">

        <img class="col-sm-5"
          src="https://images.pexels.com/photos/344100/pexels-photo-344100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">
        <img class="col-sm-3"
          src="https://images.pexels.com/photos/1732278/pexels-photo-1732278.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">
        <img class="col-sm-4"
          src="https://images.pexels.com/photos/2654902/pexels-photo-2654902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">

      </div>
    </section>
  </main>
  </div>
  <footer class="bg-dark d-flex flex-column justify-content-center align-items-center py-5 text-light">
    <h6>"Actividades pensadas en tu bolsillo"</h6>
  </footer>
  <!--BOOTSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
  </script>
  <!--ARCHIVO PRINCIPAL JS-->
  <script src="./script/main.js">

  </script>
</body>

</html>